body{
    background-color: #e9e9e9;
    font-family: 'Work Sans', sans-serif;
}

/*Same for all*/
/* navbar */

.navbar{
    padding: 0 0 4.5ren;
}

.navbar-brand{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #000000;
}

.nav-icon{
    color: #eea302;
    font-size: 1.8rem;
}

.nav-item{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    border-right: 2px #909090 solid;
}

.navbar li:last-child {
    border-right: none;
  }


.nav-link{
    padding: 0px 8px;
}

/* Home */

#mainbody{
    padding: 7% 10%;
}

.img{
    padding-right: 20px;
    text-align: right;
}

.me-img{
    width: 90%;
    border-radius: 100%;
    
}

.hello{
    font-size: 100px;
    font-weight: 600;
    padding: 5% 0%;
}

.abt{
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 600;
    padding: 0% 2%;
}

.abt-me{
    font-size: 16px;
    padding: 0% 20% 3% 2%;
}

.all-abt{
    padding-left: 30px;
}

.yellow{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #eea302;
    border: 1px solid;
    text-align: center;
    margin: 2% 3%;
    padding-top: 55px;
    font-size: 22px;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    color: #000000;
}

.red{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #ff3b25;
    border: 1px solid;
    text-align: center;
    margin: 2% 3%;
    padding-top: 55px;
    font-size: 22px;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    color: #000000;
}

.blue{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #80d8da;
    border: 1px solid;
    text-align: center;
    margin: 2% 3%;
    padding-top: 55px;
    font-size: 22px;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    color: #000000;
}


.yellow:hover{
    background-color: #e9e9e9;
}

.red:hover{
    background-color: #e9e9e9;
}

.blue:hover{
    background-color: #e9e9e9;
}

.hra {
    width: 85%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6d6a6a;
    border: 0 none;
}

#footer{
    text-align: center;
    margin: 4% 3%;
}
.fot-icon{
    color: #000000;
    font-size: 1.5rem;
}

.foot{
    margin-top: 12px;
}



@media (max-width: 990px){
    .nav-item{
        border-right: 0px #909090 solid;
    }
    .img{
    
        text-align: center;
    }
    .hello{
        text-align: center;
    }
    
    .abt{
        text-align: center;
    }
    
    .abt-me{
        padding: 0px 80px;
        text-align: center;
    }
}
