body {
    background-color: #e9e9e9;
    font-family: 'Work Sans', sans-serif;
}

/* navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
}

h2 {
    margin: 0%;
    padding: 3% 0% 0% 4%;
    font-size: 2.3rem;
    font-weight: bold;
}

.menu {
    margin-right: 4%;
}
.dropdown{
    display: none;
}

li {
    list-style: none;
    padding: 15px 5px;
    float: right;
    font-size: 1.3rem;
    transition: 0.4s;
}

a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.nav-icon {
    color: #eea302;
    padding-right: 2px;
    font-size: 1.8rem;
}

li a:hover {
    color: #eea302;
}

/* Home page */
#mainbody {
    padding: 7% 7% 2%;
}

.my-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.grid-item1 {
    text-align: right;
}

.me-img {
    border-radius: 50%;
    width: 450px;
    padding: 0% 10% 0% 5%;
    filter: grayscale(100%);
    transition: 0.4s ease;
    cursor: pointer;
}

.me-img:hover {
    transform: scale(1.15);
    filter: grayscale(0%);
}

.hello {
    margin: 0%;
    padding: 40px 0px 10px;
    font-size: 5rem;
}

.abt {
    margin: 0%;
    padding-top: 10px;
    font-size: 2rem;
}

.abt-me {
    margin: 0%;
    padding-top: 10px;
    margin-right: 90px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    padding-top: 30px;
    column-gap: 10px;
}

.resume,
.projects,
.contact {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    color: #000000;
}

.resume {
    background-color: #eea302;
}

.projects {
    background-color: #ff3b25;
}

.contact {
    background-color: #80d8da;
}

.resume:hover {
    background-color: #e9e9e9;
}

.projects:hover {
    background-color: #e9e9e9;
}

.contact:hover {
    background-color: #e9e9e9;
}

p {
    margin: 0%;
    padding-top: 60px;
}

.hra {
    width: 95%;
    margin-top: 100px;
}

/* resume page */

#resume {
    padding: 4% 7% 2%;
}

.res {
    margin: 0%;
    font-size: 3.2rem;
    font-weight: bold;
}

.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
}

.edu {
    padding: 20px 60px;
    font-size: 2rem;
    font-weight: bold;
}

.school {
    padding: 40px 0px;
}

.tenth,
.twelth {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}

.time {
    font-size: 1.1rem;
}

.s-name-p {
    padding: 0%;
    font-size: 1.3rem;
    font-weight: bold;
}

.classs {
    padding: 0px 0px 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.p-abt-school {
    padding: 2px 40px 40px 0px;
    font-size: 1rem;
    font-weight: lighter;
}

.hra-res {
    margin: 10px 0px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 70px;
}

.skill {
    padding: 20px 60px;
    font-size: 2rem;
    font-weight: bold;
}

.skill-items {
    padding-left: 100px;
}

.skill-item {
    list-style: disc;
    float: none;
    padding: 5px 0px;
    font-size: 1.2rem;
}

/* contact page */

#contact {
    padding: 4% 7% 2%;
}

.cont {
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0%;
}

.cont1 {
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0%;
}

.all-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
}

.co1 {
    padding-left: 50px;
}

.cont-det {
    padding: 0%;
    font-size: 1.1rem;
    font-weight: bold;
}

.ph-no,
.mail-id {
    padding: 0px 0px 30px;
    font-weight: lighter;
}

.fill-form {
    padding-left: 15px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
}

label {
    font-weight: lighter;
}

#fname {
    height: 40px;
    width: 220px;
    background-color: #e9e9e9;
    border: 1px solid;
}

#lname {
    height: 40px;
    width: 220px;
    background-color: #e9e9e9;
    border: 1px solid;
}

#mail {
    height: 40px;
    width: 220px;
    background-color: #e9e9e9;
    border: 1px solid;
}

#subject {
    height: 40px;
    width: 220px;
    background-color: #e9e9e9;
    border: 1px solid;
}

#text {
    height: 150px;
    width: 280px;
    background-color: #e9e9e9;
    border: 1px solid;
}

textarea {
    resize: none;
}

.fin-sub {
    padding: 20px;
}

#submit {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #eea302;
    border: 1px solid;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    color: #000000;
}

#submit:hover {
    background-color: #e9e9e9;
}

/* project page*/
#project {
    padding: 4% 7% 2%;
}

.pro {
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0%;
}

.pronum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0px 10px 50px;
}

.pro-title {
    font-size: 2rem;
    padding: 2% 3%;
}

.abt-project {
    padding: 2% 3%;
    margin-right: 15%;
    line-height: 1.6;
    text-align: justify;
}

.pro-img1 {
    width: 500px;
    height: 300px;
    padding: 20px 30px;
    border-radius: 50px;
}



/* footer */
.foot-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 0.6fr;
    padding: 50px 0px 80px 100px;
}

h3 {
    margin: 0%;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.foot-icon {
    padding-right: 10px;
    font-size: 1.5rem;
}

.last {
    font-size: 0.9rem;
    padding-top: 15px;
}

@media screen and (max-width: 1400px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .me-img {
        filter: grayscale(0%);
    }

    .me-img:hover {
        transform: scale(1);
    }

    .pro {
        font-weight: bold;
        font-size: 2.7rem;
        margin: 0%;
    }

    .pronum {
        display: block;
        padding: 40px 0px 0px 10px;
    }

    .pro-title {
        padding: 0%;
    }

    .abt-project {
        padding: 0%;
        margin-right: 20%;
    }

    .pro-img1 {
        width: 76%;
        height: 70%;
        padding: 2% 0% 0%;
    }
}

@media screen and (max-width: 1160px) {
    .me-img {
        padding: 0%;
    }

    .foot-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 991px) {
    .my-grid-container {
        display: block;
    }

    .grid-item1 {
        text-align: center;
    }

    .me-img {
        padding: 0% 10%;
    }

    .grid-item2 {
        text-align: center;
    }

    .abt-me {
        margin: 0px 90px;
        padding-top: 10px;

    }

    .menu-grid {
        grid-template-columns: auto auto auto;
        column-gap: 0px;
    }

    a {

        text-align: center;
    }

    .resume,
    .projects,
    .contact {
        margin: auto;
    }

    .all-cont {
        display: block;
        padding-top: 30px;
    }

    .co1 {
        padding-left: 20px;
    }

    .ph-no,
    .mail-id {
        padding: 0px 0px 10px;
    }

    .fill-form {
        padding-left: 25px;
        padding-top: 15px;
    }

    .foot-grid {
        grid-template-columns: 1fr 1.2fr 1fr 0.6fr;
        padding: 30px 0px 50px 50px;
    }

    .last {
        padding: 0px;
    }

    .hra {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .res {
        font-size: 2.7rem;
        font-weight: bold;
    }

    .education {
        display: block;
        padding-top: 40px;
    }

    .edu {
        padding: 0px 0px 0px 20px;
        font-size: 1.7rem;
    }

    .school {
        padding: 40px 0px 0px 30px;
    }

    .tenth,
    .twelth {
        display: block;
    }

    .time {
        font-size: 1.3rem;
    }

    .skills {
        display: block;
        padding-top: 40px;
    }

    .skill {
        padding: 0px 0px 0px 20px;
    }

    .skill-items {
        padding-left: 40px;
    }

    .abt-project {
        margin-right: 10%;
    }

    .foot-grid {
        display: block;
    }

    .end-foot {
        padding-bottom: 20px;
    }
    /* li{
        display: none;
    } */
}

@media screen and (max-width: 767px) {
.sh{
    display: none;
}
.dropdown{
    display: inline;
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 1.8rem;    
    border: none;
    outline: none;
    color: #000000;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 620px) {
    .row {
        display: block;
    }

    .fin-sub {
        padding: 0px;
    }
}

@media screen and (max-width: 580px) {
    h2 {
        font-size: 1.7rem;
    }
    .dropdown .dropbtn {
        font-size: 1.6rem;
    }
    .me-img {
        width: 70%;
    }

    .hello {
        font-size: 4rem;
    }

    .abt {
        font-size: 1.8em;
    }

    .abt-me {
        margin: 0px 40px;
        padding-top: 10px;
    }

    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        column-gap: 0px;
    }

    .resume,
    .projects,
    .contact {
        margin: auto;
        width: 100px;
        height: 100px;
        font-size: 15px;
        font-weight: 400;
    }

    p {
        padding-top: 40px;
    }
}